configuration {
    modi: "drun,run,window";
    show-icons: true;
    display-drun: "APPS";
    display-run: "RUN";
    display-window: "WIN";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 11";
    sidebar-mode: true;
    terminal: "kitty";
    matching: "fuzzy";
    
    kb-mode-next: "Shift+Right,Control+Tab";
    kb-mode-previous: "Shift+Left,Control+Shift+Tab";
}
@theme "theme.rasi"
