[Unit]
Description=Servicio de Ecualización de Audio
After=sound.target

[Service]
ExecStart=/usr/local/bin/eq-service
Restart=always
User=%u

[Install]
WantedBy=default.target
